@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {

    .sidebar-icon {
      @apply relative flex items-center justify-center 
      h-8 w-8 mt-2 mb-2 mx-auto  
    hover:bg-teal-700 bg-gray-800
    text-teal-100 hover:text-white
      hover:rounded-md rounded-md
      transition-all duration-300 ease-linear
      cursor-pointer shadow-lg ;
    }
  
    .sidebar-tooltip {
      @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
      text-white bg-gray-900 
      text-xs font-bold 
      transition-all duration-100 scale-0 origin-left;
    }
  
    .sidebar-hr {
      @apply bg-gray-800 border border-gray-800
      mx-1;
    }

    .top-navigation {
      @apply flex  items-center justify-evenly 
      bg-gray-50
      w-full h-16 
      m-0 
      shadow-lg;
    }

    .top-navigation-icon {
      @apply text-gray-500
      mr-3 ml-4
      transition duration-300 ease-in-out 
      hover:text-teal-400 
      cursor-pointer;
    }
  
    .top-navigation-icon:first {
      @apply ml-auto mr-4;
    }
  
    .title-hashtag {
      @apply text-lg tracking-wider font-semibold text-gray-500 
      ml-20 my-auto;
    }
  
    .title-text {
      @apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 
      mr-auto ml-2 my-auto 
      transition duration-300 ease-in-out;
    }
  
    .content-container {
      @apply  
      bg-gray-50
      w-screen
      h-screen
      overflow-visible;
    }

    .content-divs {
      @apply   w-screen h-screen mr-5 ml-16 mt-5 mb-5 bg-white;
    }
}