@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-bg: #eef0f1;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
}
html,

body {
  min-height: 100vh;
  font-weight: 400;
  font-family: sans-serif;
  background: #845ec2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #ff0000, #ff0000, #ff0000, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#000000, #000000, #ff0000, #ff0000, #ff0000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, */
}